player-connection-mode=Listen
player-connection-guid=1898656827
player-connection-debug=0
player-connection-project-name=Eldoria: El orbe perdido
player-connection-ip=192.168.56.1
player-connection-ip=192.168.1.182
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a34cc911b9c14bc3ac1221112fc30950
